<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    <script>
      window.pageData = {};
    </script>
  </head>
  <body>
    <div id="header">
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>

