<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    <script>
window.pageData = {};
    </script>
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Waterloo Actually Works</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/employers/login">Employer login</a>
          </li>
          <li>
            <a href="/students/login">Student login</a>
          </li>
          <li>
            <a href="/students/signup">Student signup</a>
          </li>
        </ul>
      </div>
    </nav>
    {% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>

