{% extends "employer_base.html" %}

{% block content %}
  <div class="container">
    {% for job in rankings_array %}
      <h3> {{ job.position }} - {{ job.location }} </h3>
      <form action="/api/employers/{{ employer_id }}/rankings" method="post">
        {% for app in job.applications %}
        <div class="form-group">
          <label>{{app.student_name}}</label>
          <select name={{app.id}} >
            {% for number in range(job.applications|count) %}
              <option>{{number + 1}}</option>
            {% endfor %}
          </select>
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">
          Submit rankings
        </button>
      </form>
    {% endfor %}
  </div>
{% endblock %}
