{% extends "base_page.html" %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/student/{{ student_id }}/resume">
        Waterloo Actually Works
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/student/{{ student_id }}/rankings">Rankings</a>
      </li>
      <li>
        <a href="/jobs/search">Job Search</a>
      </li>
      <li>
        <a href="/student/{{ student_id }}/resume">Resume</a>
      </li>
      <li>
        <form action="/students/logout" method="post">
          <button class="btn btn-default navbar-btn" href="#">Logout</a>
        </form>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
